

.box11a {
    padding: .5rem;
    border-radius: .5rem;
    border: 2px solid rgb(137, 137, 137);
}

.box11 {
    padding: .5rem;
    border-radius: .5rem;
    border: 2px solid var(--color1);
    cursor: pointer;
}

.box11:hover {
    border: 2px solid rgb(15, 107, 15);
}
