

.box11a {
    padding: .5rem;
    border-radius: .5rem;
    border: 2px solid rgb(137, 137, 137);
}


.box11 {
    padding: .5rem;
    border-radius: .5rem;
    border: 2px solid var(--color1);
    cursor: pointer;
}


.box11:hover {
    border: 2px solid rgb(15, 107, 15);
}


.box-12 {
    padding: .5rem;
    border-radius: .5rem;
    cursor: pointer;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
}

.box-12:hover {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
}


.box-13 {
    padding: .5rem;
    border-radius: .5rem;
    
    cursor: pointer;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
}

.box-13:hover {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
}

.box-14 {
    color: var(--color3);
    font-weight: 700;
    padding: .5rem;
    border-radius: .5rem;
}

.box-14:hover {
    opacity: .7;
}

