:root {
    --color1: #ffffff;
    --color2: #ffffff;
}

[color-theme="light"] {
    --color1: #ffffff;
    --color2: #000000;
}


[color-theme="dark"] {
    --color1: #000000;
    --color2: #ffffff;
}




